html,body{
  overflow: hidden;
}

#label__file{
  cursor: pointer;
}

::-webkit-scrollbar{
  background-color: rgba(0, 0, 0, .5);
  width: 7px;
  border-radius: 80px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(250, 250, 250, .5);
  border-radius: 80px;
}

#bg-logath{
  background-image: url("../public/cad_anuncio.jpeg");
}

#bg-cad-anuncios{
  background-image: url("../public/carros_variados.jpg");
}
#bg-login{
  background-image: url("../public/login.jpg");
}

#bg-cad-users{
  background-image: url("../public/login.jpg");
}


#text-btn.active-reload{
  display: none;
}

hr{
  height: 1px!important;
  border-radius: 80px;
  background-color: #000!important;
  border:0
}

#textarea__desc{
  resize: none;
  width: 100%;
  height:140px;
  border-radius: 5px;
  padding: 8px 2px;
  border: none;
  outline: none;
}

#alert__sucess_camp.show-alert-sucess{
  display: flex;
  opacity: 1;
  animation: animateAlert .5s ease-in-out;
}

#alert__especifec_camp.show-alerts{
  display: flex;
  opacity: 1;
  animation: animateAlert .5s ease-in-out;
}


#alert__all_camp.show-alerts{
  display: flex;
  opacity: 1;
  animation: animateAlert .5s ease-in-out;
}

@keyframes animateAlert {
  0%{
      opacity: 0;
  }
  50%{
     opacity: .25;
  }
  100%{
    opacity: 1;
  }
}

#modal-edit.show{
  display: flex;
}